<div class="chart-body">
  <p *ngIf="positionLabel === 'top'">{{ chartLabelName }}</p>
  <div class="chart-wrapper">
    <!-- this Canvas is used from the library Chart Js: https://www.positronx.io/angular-chart-js-tutorial-with-ng2-charts-examples/  -->
    <canvas [chartType]="pieChartType"
            [data]="pieChartData"
            [labels]="pieChartLabels"
            [legend]="pieChartLegend"
            [options]="pieChartOptions"
            [plugins]="pieChartPlugins"
            [width]="chartWidth"
            baseChart>
    </canvas>
  </div>
  <p *ngIf="positionLabel === 'bottom'">{{ chartLabelName }}</p>
</div>
