<div class="my-footer">
  <a *ngIf="onImpressum" href="{{impressumPath}}">Impressum</a>
  <span *ngIf="onImpressum && onAboutUs"> | </span>
  <a *ngIf="onAboutUs" routerLink="{{aboutUsPath}}">Über uns</a>
  <span *ngIf="onAboutUs && onCountryOrdinance"> | </span>
  <a *ngIf="onCountryOrdinance" href="{{countryOrdinanceUrl}}" target="'_blank'">Link zur Landerverodnung</a>
  <span *ngIf="onCountryOrdinance && onOtherMeasure"> | </span>
  <a *ngIf="onOtherMeasure" routerLink="" target="'_blank'">Weitere Maßnahme</a>
</div>
