<body class="body bodyHeight" id="home_body">

<!-- Afri-care-germany logo -->
<img class="pointer"
     id="afri-care-logo"
     routerLink="{{homePath}}"
     src="assets/logo/afri-care-germany-logo.png">

<h1>Wilkommen zu Covid-19 Live-Tracking</h1>

<!-- SEARCH TERM FIELD -->
<div id="input-search-term">
  <!-- MatInputModule from Angular materials: https://material.angular.io/components/input/overview -->
  <mat-form-field appearance="outline" id="searchCountryForm">
    <input (keyup)="applyFilter($event.target)" [matAutocomplete]="stateAutoComplete" id="suchTerm" matInput
           name="suchTerm" placeholder="Nach Bundesland suchen"
           title="Nach Bundesland suchen"
           type="text">

    <!-- MatIconModule from Angular materials: https://material.angular.io/components/icon/overview -->
    <mat-icon matSuffix>search</mat-icon>

    <!-- MatAutocompleteModule from Angular materials: https://material.angular.io/components/autocomplete/overview -->
    <mat-autocomplete #stateAutoComplete="matAutocomplete">
      <mat-option (onSelectionChange)="navTo(state)" *ngFor="let state of filteredList"
                  [value]="state">
        <span>{{ state }}</span>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>


<div class="row">
  <!-- TOP WERTE -->
  <div class="col-md-2 top-werte">
    <h2>Top Werte</h2>

    <div id="top-werte-buttons">
      <button (click)="navTo('top_niedrigste_inzidenz', true)" class="buttons buttons-fonts"
              data-toggle="tooltip" title="Top 5 niedrigste Inzidenz"
              type="button"> Best niedrigste Inzidenz
      </button>
      <button (click)="navTo('top_urlaubsorte', true)" class="buttons buttons-fonts"
              data-toggle="tooltip" title="Top 5 Urlaubsorte"
              type="button"> Aktuelle best Urlaubsorte
      </button>
      <button (click)="navTo('risikogebiete', true)" class="buttons buttons-fonts"
              data-toggle="tooltip" title="risikogebiete"
              type="button"> Höchste Risikogebiete
      </button>
    </div>
  </div>

  <!-- MAP & CHARTS -->
  <div class="col-md-10">
    <!-- MAP -->
    <div id="map-group">
      <div id="map-div">
        <img src="assets/img/dld-map.jpeg">
      </div>
      <p id="map-legend">Covid-19 live Tracking: &nbsp; <b>Deutschland 7 Tage inzidenz</b></p>
    </div>

    <!-- CHARTS -->
    <div class="chart-list">
      <div class="chart-content">
        <app-chart
          [caseValue]="neuInfiziert"
          [chartLabelName]="'Neu infiziert'"
          [chartWidth]="chartWidth"
          [positionLabel]="positionLabel"
          [totalValue]="totalCase"></app-chart>
      </div>
      <div class="chart-content">
        <app-chart
          [caseValue]="genesungsrate"
          [chartLabelName]="'Genesungsrate'"
          [chartWidth]="chartWidth"
          [positionLabel]="positionLabel"
          [totalValue]="totalCase"></app-chart>
      </div>
      <div class="chart-content">
        <app-chart
          [caseValue]="todesFaelle"
          [chartLabelName]="'Todesfälle'"
          [chartWidth]="chartWidth"
          [positionLabel]="positionLabel"
          [totalValue]="totalCase"></app-chart>
      </div>
      <div class="chart-content">
        <app-chart
          [caseValue]="sterberate"
          [chartLabelName]="'Sterberate'"
          [chartWidth]="chartWidth"
          [positionLabel]="positionLabel"
          [totalValue]="100"></app-chart>
      </div>
    </div>
  </div>

  <!-- TOP LINKS -->
  <div class="col-md-2 top-links">
    <h2>Beste Urlaubsorten Deutschlands</h2>

    <ul *ngFor="let topLink of topLinks">
      <li><a class="margin-left-15px" href="{{topLink.url}}" target="'_blank'">{{topLink.name}}</a></li>
    </ul>
  </div>
</div>

</body>
