p {
  /*color: #f2d0a4;*/
  text-align: left;
  margin: 2px 0 0 24%;
  /*font-size: 12px;*/
}

#impressum, #ueber-uns {
  position: relative;
  top: -45px;
  margin: 0 10px 0 10px;
  cursor: pointer;
  /*text-decoration: initial;*/
}

#impressum {
  float: left;
}

#ueber-uns {
  float: right;
}

#input-search-term {
  margin: 10px 0 20px 0;
  margin-bottom: 200px;
}
#searchCountryForm {
  max-width: 70%;
  width: 50em;
  /*background-color: white;*/
}

#suchTerm {
  /*height: 10px;*/
  line-height: 28px
}

#map-result {
  max-width: 30%;
  margin: auto;
}

img {
  max-width: 100%;
  flex: fit-content;
  border: 3px solid #6EB1D5;
  background: #C4C4C4;
  box-sizing: border-box;
}

#map-legend {
  text-align: left;
}
