<body class="body bodyHeight" id="home_body">
<h1>Wilkommen zu Covid-19 Live-Tracking</h1>

<!-- SEARCH TERM FIELD -->
<div id="input-search-term">
  <mat-form-field appearance="outline" id="searchCountryForm">
    <input (keyup)="applyFilter($event.target)" [matAutocomplete]="stateAutoComplete" id="suchTerm" matInput
           name="suchTerm"
           placeholder="Suche nach Land" required type="text">
    <mat-icon matSuffix>search</mat-icon>

    <mat-autocomplete #stateAutoComplete="matAutocomplete">
      <mat-option (onSelectionChange)="navTo(state)" *ngFor="let state of filteredList"
                  [value]="state">
        <span>{{ state }}</span>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>


<div class="row">
  <div class="col-md-2 top-werte">
    <h2>Top Werte</h2>

    <div id="top-werte-buttons">
      <button (click)="navTo('top_niedrigste_inzidenz', true)" class="buttons buttons-fonts"
              data-toggle="tooltip" title="Top 5 niedrigste Inzidenz"
              type="button"> Top 5 niedrigste Inzidenz
      </button>
      <button (click)="navTo('top_urlaubsorte', true)" class="buttons buttons-fonts"
              data-toggle="tooltip" title="Top 5 Urlaubsorte"
              type="button"> Top 5 Urlaubsorte
      </button>
      <button (click)="navTo('risikogebiete', true)" class="buttons buttons-fonts"
              data-toggle="tooltip" title="risikogebiete"
              type="button"> Risikogebiete
      </button>
    </div>
  </div>
  <div class="col-md-10">
    <!-- MAP -->
    <div id="map-group">
      <div id="map-div">
        <img src="assets/img/map.png">
      </div>
      <p id="map-legend">Covid-19 live Tracking: <b> Deutschland 7 Tage inzidenz</b></p>
    </div>

    <div class="chart-list">
      <div class="chart-content">
        <app-chart
          [chartLabelName]="'Neu infiziert'"
          [positionLabel]="'bottom'"
          [caseValue]="neuInfiziert"
          [totalValue]="totalCase"
          [chartWidth]="chartWidth"></app-chart>
      </div>
      <div class="chart-content">
        <app-chart
          [chartLabelName]="'Genesungsrate'"
          [positionLabel]="'bottom'"
          [caseValue]="genesungsrate"
          [totalValue]="totalCase"
          [chartWidth]="chartWidth"></app-chart>
      </div>
      <div class="chart-content">
        <app-chart
          [chartLabelName]="'Todesfälle'"
          [positionLabel]="'bottom'"
          [caseValue]="todesFaelle"
          [totalValue]="totalCase"
          [chartWidth]="chartWidth"></app-chart>
      </div>
      <div class="chart-content">
        <app-chart
          [chartLabelName]="'Sterberate'"
          [positionLabel]="'bottom'"
          [caseValue]="sterberate"
          [totalValue]="100"
          [chartWidth]="chartWidth"></app-chart>
      </div>
    </div>
  </div>
  <div class="col-md-2 top-links">
    <h2>Top Links</h2>

    <ul>
      <li><a class="margin-left-15px" href="{{topLinksPath}}" target="”_blank”">Robert Koch-Institut</a></li>
      <li><a class="margin-left-15px" href="{{topLinksPath}}" target="”_blank”">Top Links 2</a></li>
      <li><a class="margin-left-15px" href="{{topLinksPath}}" target="”_blank”">Top Links 3</a></li>
      <li><a class="margin-left-15px" href="{{topLinksPath}}" target="”_blank”">Top Links 4</a></li>
      <li><a class="margin-left-15px" href="{{topLinksPath}}" target="”_blank”">Top Links 5</a></li>
      <li><a class="margin-left-15px" href="{{topLinksPath}}" target="”_blank”">Top Links 6</a></li>
      <li><a class="margin-left-15px" href="{{topLinksPath}}" target="”_blank”">Top Links 7</a></li>
    </ul>
  </div>
</div>

</body>
