h3 {
  margin: 20px;
  margin-bottom: 5em;
}

.border-wrapper {
  width: auto;
  height: auto;
  margin: 182px 81px 41px 81px;
  padding: 10px;
  background: #242832;
  border: 2px solid #6EB1D5;
  box-sizing: border-box;
}

#bundesLandMap img {
  border: 1px solid #6EB1D5;
}

.iLabel {
  left: calc(50% - 213px/2 - 420px);
  top: calc(50% - 45.56px/2 - 213.72px);

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 42px;
  text-align: center;

  color: #CCC5B9;
}

.bundesLandImage {
  text-align: right;
  margin-right: 20px;
}

.bodyHeight {
  height: calc(100vh - 10.1em);
}

.to-home {
  position: relative;
  left: 1.5em;
  top: 0.8em;
  width: 44px;
}
