body {
  flex: auto;
}

#afri-care-logo {
  top: 5.8%;
}

h2 {
  font-size: 36px;
  font-weight: 100;
  letter-spacing: 4px;
  margin-top: 1.8em;
  margin-bottom: 3em;
}

#bundesLandMapBig {
  margin: auto;
  max-width: 60%;
}

#bundesLandMapBig .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  width: 75%;
}

#bundesLandMapBig p {
  position: absolute;
  margin-top: 7px;
  left: 18%;
  font-weight: 1000;
  font-size: 12px;
  margin-left: 16.5em;
}

.border-wrapper {
  min-width: 25em;
  background: #242832;
  border: 2px solid #6EB1D5;
  box-sizing: border-box;
  margin: 6em 6em 0em 6em;
  text-align: center;
}

#statistic-title-center {
  margin-right: -10em;
  margin-bottom: 20px;
}

.bundesLandImage img {
  border: 1px solid #6EB1D5;
}

#bundesLandMapSmall {
  position: relative;
  margin-top: 10px;
  right: -4.3em;
  max-width: 12%;
  float: right;
}

#bundesLandMapSmall img {
  max-width: 100%;
}

#bundesLandMapSmall p {
  font-size: 9px;
  letter-spacing: 0.5px;
}

.bundesLandImage {
  margin-right: 20px;
}

.bodyHeight {
  height: calc(100vh - 10.1em);
}

.to-home {
  position: relative;
  left: 1.5em;
  top: 0.8em;
  width: 44px;
}

/* Statistic charts*/
.statistic {
  padding: 11.5em;
}

.statistic-item {
  height: 25em;
  margin-bottom: -10em;
}

.chart-content {
  width: 20em;
  padding: 1em;
  margin-right: 5%;
  text-align: center;
}

.my-footer {
  /*bottom: 0.002% !important;*/
}
