body {
  padding: 30px;
  min-height: calc(100vh - 7em);
}

#afri-care-logo {
  max-width: 4%;
}

h2 {
  font-family: 'Bebas Neue', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 43px;
  letter-spacing: 0.28em;
  margin-bottom: 30px;
}

.about_us {
  margin-top: 6.2em;
}

.about_us p {
  margin: auto auto 20px auto;
  width: 70%;
  line-height: 1.5em;
}

a.role {
  text-align: center;
  padding-top: 100%;
}

.unser-team {
  position: relative;
  margin-top: 9em;
  left: 9em;
}

.unser-team h2 {
  position: relative;
  left: -4.2em;
}

.team_member {
  width: 175px;
  min-width: 100px;
  max-width: 260px;
  text-align: center;
  display: inline-block;
  margin-right: 18em;
}

.member1:hover, .member2:hover, .member3:hover {
  Width: 180px;
  Height: 180px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 5);
}

.member1 {
  background: url("../../assets/img/mistra-forest.png") no-repeat center;
}

.member2 {
  background: url("../../assets/img/bertin-junior.png") no-repeat center;
}

.member3 {
  background: url("../../assets/img/steve-carmel.png") no-repeat center;
}

.member1, .member2, .member3 {
  background-size: cover;
  border-radius: 50%;
  left: 15.14%;
  right: 73.07%;
  top: 70%;
  bottom: 19.43%;
  Width: 173px;
  Height: 173px;
  float: left;
  display: block;
}

a, .member1, .member2, .member3 {
  cursor: pointer;
}

.role {
  margin-top: 20px;
}

