<body class="body bodyHeight" id="home_body">

<div>
  <p><a class="home" routerLink="{{homePath}}"  >Home</a></p>
</div>
<div>
  <div class="about_us">
    <h2>Über uns</h2>
    <p>Wir sind Studierende im dritten Semester Master Informatik mit dem Schwerpunkt Mobile and Network Computing. Im Rahmen eines Semesterprojekts im Fach Interface Design wurde diese Webseite entwickelt.

      Im Zeiten von Covid-19 in denen Unsicherheit in allen sozialen Schichten herrscht, ist es schwierig Überblick über die sich ändernden Maßnahmen zu verschaffen. Trotz des ununterbrochen Infomationsfluss in den Nachrichten und Informationsseite wie RKI oder Johns hopkins university sind sich viele Menschen nicht sicher, welche Regeln, wo und ab wann gelten.

      Das Ziel dieser Webseite ist es, Metriken über live Covid-19 Daten so bereitzustellen, dass der “einfache” Bürger in der Lage sei, diese schneller zu erfassen und zu interpretieren. </p>
  </div>
  <div class="team">
    <h2>Unser Team</h2>
    <div class="team_member">
      <div class="member1">
        <p><a class="role" routerLink>Mistra  Kuipou</a><span>(Konzeption)</span>  </p></div>
    </div>
    <div class="team_member">
      <div class="member2">
        <p><a class="role" routerLink >Bertin Jr Wagueu</a><span>(Design)</span>     </p></div>
    </div>
    <div class="team_member">
      <div class="member3">
        <p><a class="role" routerLink >Steve Ngalamo</a><span>(Frontend-Implementierung)</span>     </p></div>
    </div>
  </div>
</div>




</body>
