<body class="body bodyHeight">

  <div>
    <p><a class="home" routerLink="{{homePath}}">Home</a></p>
  </div>
  <div>
    <mat-tab-group>
      <mat-tab *ngFor="let tab of asyncTabs | async">
        <ng-template mat-tab-label>{{tab.label}}</ng-template>

        <div class="statistic">
          <!-- CHARTS -->
          <div class="chart-list index-bgd-color statistic-item">
            <div class="chart-content">
              <app-chart
                [chartLabelName]="'7 Tage Inzidenz/ 7 Tage Fallzahl'"
                [positionLabel]="'bottom'"
                [caseValue]= "incident"
                [totalValue]="fallzahl7Tage"
                [chartWidth]="chartWidth"></app-chart>
            </div>
            <div class="chart-content">
              <app-chart
                [chartLabelName]="'Fallzahl Gesamt/ gesamt Todesfälle'"
                [positionLabel]="'bottom'"
                [caseValue]="totalCase"
                [totalValue]="todesFaelle"
                [chartWidth]="chartWidth"></app-chart>
            </div>
            <div class="chart-content">
              <app-chart
                [chartLabelName]="'Todesfälle Gesamt/ Gesamtfälle'"
                [positionLabel]="'bottom'"
                [caseValue]="todesFaelle"
                [totalValue]="totalCase"
                [chartWidth]="chartWidth"></app-chart>
            </div>
            <div class="chart-content">
              <app-chart
                [chartLabelName]="'7 Tage Sterbezahl/ 7 Tage Fallzahl'"
                [positionLabel]="'bottom'"
                [caseValue]="sterben7"
                [totalValue]="fallzahl7Tage"
                [chartWidth]="chartWidth"></app-chart>
            </div>
            <div class="chart-content">
              <app-chart
                [chartLabelName]="' 7 Tage Fallzahl/ gesamt Fallzall'"
                [positionLabel]="'bottom'"
                [caseValue]="fallzahl7Tage"
                [totalValue]="totalCase"
                [chartWidth]="chartWidth"></app-chart>
            </div>
<!--            <div class="chart-content">
              <app-chart
                [chartLabelName]="'Sterberate'"
                [positionLabel]="'bottom'"
                [caseValue]="sterberate"
                [totalValue]="totalCase"
                [chartWidth]="chartWidth"></app-chart>
            </div>-->
          </div>
          <div>
            <p><a class="laender-verordnung margin-left-15px" href="{{lvoPath}}" target="”_blank”">Link zur Länderverodnung</a></p>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>

</body>
