<body class="body bodyHeight">

  <div>
    <p><a class="home" routerLink="{{homePath}}">Home</a></p>
  </div>
  <div>
    <mat-tab-group>
      <mat-tab *ngFor="let tab of asyncTabs | async">
        <ng-template mat-tab-label>{{tab.label}}</ng-template>

        <div class="statistic">
          <!-- CHARTS -->
          <div class="chart-list index-bgd-color statistic-item">
            <div class="chart-content">
              <app-chart
                [chartLabelName]="'Neu infiziert'"
                [positionLabel]="'bottom'"
                [caseValue]= "neuInfiziert"
                [totalValue]="totalCase"
                [chartWidth]="chartWidth"></app-chart>
            </div>
            <div class="chart-content">
              <app-chart
                [chartLabelName]="'Genesungsrate'"
                [positionLabel]="'bottom'"
                [caseValue]="genesungsrate"
                [totalValue]="totalCase"
                [chartWidth]="chartWidth"></app-chart>
            </div>
            <div class="chart-content">
              <app-chart
                [chartLabelName]="'Todesfälle'"
                [positionLabel]="'bottom'"
                [caseValue]="todesFaelle"
                [totalValue]="totalCase"
                [chartWidth]="chartWidth"></app-chart>
            </div>
            <div class="chart-content">
              <app-chart
                [chartLabelName]="'Sterberate'"
                [positionLabel]="'bottom'"
                [caseValue]="sterberate"
                [totalValue]="100"
                [chartWidth]="chartWidth"></app-chart>
            </div>
            <div class="chart-content">
              <app-chart
                [chartLabelName]="'Sterberate'"
                [positionLabel]="'bottom'"
                [caseValue]="sterberate"
                [totalValue]="totalCase"
                [chartWidth]="chartWidth"></app-chart>
            </div>
            <div class="chart-content">
              <app-chart
                [chartLabelName]="'Sterberate'"
                [positionLabel]="'bottom'"
                [caseValue]="sterberate"
                [totalValue]="totalCase"
                [chartWidth]="chartWidth"></app-chart>
            </div>
          </div>
          <div>
            <p><a class="laender-verordnung margin-left-15px" href="{{lvoPath}}" target="”_blank”">Link zur Länderverodnung</a></p>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>

</body>
