#afri-care-logo {
  top: 4em;
  max-width: 4%;
  min-width: 2.5em;
}

.picsum-img-wrapper img {
  width: 200px;
}

.my-carousel {
  width: 40em;
  margin: -10px auto;
}

.picsum-img-wrapper img {
  border: 1px solid #6EB1D5;
  width: 10em;
  background: #C4C4C4;
}

div.carousel-caption {
  text-align: center;
}

.carousel-caption h3 {
  /*position: absolute;*/
  margin: auto;
  font-family: "Montserrat Light", sans-serif;
  font-style: normal;
  font-weight: bold;
}

.mbr-description, .mbr-skills {
  padding: 3%;
  display: block;
  width: 80%;

  background: rgba(110, 177, 213, 0.1);
  box-sizing: border-box;
}

.mbr-description {
  padding-left: 10%;
  margin: 5em 0 0 -2em;
}

.mbr-description p {
  text-align: justify;
  line-height: 1.8em;
}

.mbr-skills {
  position: relative;
  right: calc(100vh - 69.5em);
  margin: 2em -40em 4em 20em;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

h2 {
  margin-bottom: 50px;

  font-family: 'Bebas Neue', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 43px;
  text-align: center;
  letter-spacing: 0.1em;

}

.mbr-skills ul li {
  color: #CCC5B9;
  width: 30%;
  font-size: 14px;
  line-height: 17px;
  float: left;
  text-align: left;
  margin-right: 35px;
}

.mbr-infos-footer img {
  max-width: 12em;
  float: left;
  margin: -2.5em 20px 0px 20px;
}

.mbr-infos-footer p {
  float: right;
  margin-right: 30px;
  margin-top: -0.8%;
}

.mbr-infos-footer p,
.mbr-infos-footer a {
  font-size: 11px;
}

@media screen and (max-width: 1060px) {
  .mbr-skills {
    position: relative;
    right: unset;
    margin: 2em -40em 4em 14em;
  }
}
