a.home {
  position: absolute;
  width: 44px;
  height: 17px;
  left: 10px;
  top: 55px;
}
div.contact{
  margin: auto;
  width: 1132px;
  height: 457px;
  left: 151px;
  top: 328px;
}

div.logo_impressum{
  margin: auto;
  width: 125px;
  height: 270px;
  background: url("../../assets/logo/afri-care-logo-ohne.png") no-repeat center;
  background-size: contain;
}

.logo_impressum{
  margin-bottom: 25em;
}

p.contact_name,p.contact_address,p.contact_email{
  margin-left: 35em;
  display: flex;
  font-family: "Montserrat Light", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1.5em;
  align-items: center;
  text-align: center;
}
br{
  margin-left: 12em;
}

p.africare{
  margin-top: 1em;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: 51px;
  margin-left: 10em;
  font-size: 42px;
  padding-top: 0.7em;
}
p.contact_title{
  margin-top: 2em;
  margin-bottom: 1.2em;
  margin-left: 18.5em;
  font-family: "Montserrat Light", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
}

p.contact_address{
  margin-bottom: 3em;
  margin-top: 3em;
}
