.contact {
  margin: auto;
  width: 1132px;
  height: 457px;
  left: 151px;
  top: 328px;
  text-align: center !important;
  align-items: center;
  padding: 50px;
}

.logo-impressum {
  margin: auto;
  width: 125px;
  height: 270px;
  background: url("../../assets/logo/afri-care-logo-ohne.png") no-repeat center;
  background-size: contain;
  cursor: pointer;
}

h1 {
  font-style: normal;
  font-weight: bold;
  line-height: 51px;
  letter-spacing: 5px;
  font-size: 45px;
}

h2 {
  margin-top: 50px;
  font-family: "Montserrat Light", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
}

p {
  display: block;
  line-height: 20px;
  margin: 3em;
}
